{% extends 'base.html.twig' %}

{% block title %}Missions index{% endblock %}

{% block body %}
    <h1>Missions index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Alias</th>
                <th>Country</th>
                <th>Status</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>Speciality</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mission in missions %}
            <tr>
                <td>{{ mission.id }}</td>
                <td>{{ mission.title }}</td>
                <td>{{ mission.description }}</td>
                <td>{{ mission.alias }}</td>
                <td>{{ mission.country }}</td>
                <td>{{ mission.status }}</td>
                <td>{{ mission.startDate ? mission.startDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ mission.endDate ? mission.endDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ mission.speciality }}</td>
                <td>
                    <a href="{{ path('missions_show', {'alias': mission.alias}) }}">show</a>
                    <a href="{{ path('missions_edit', {'alias': mission.alias}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('missions_new') }}">Create new</a>
{% endblock %}
